<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
    <div class="container">
      <a class="navbar-brand mx-auto" routerLink="/"><img src="/assets/images/logo.png" alt="" width="200"></a>
      <button class="navbar-toggler border" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
          <i class="material-icons">menu</i>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!(isLoggedIn$ | async)">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Log In</a>
          </li>
          <li class="nav-item" *ngIf="!(isLoggedIn$ | async)">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="(isLoggedIn$ | async)">
            <a class="nav-link dashboard" routerLink="/account" routerLinkActive="active">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="all-pages pb-md-5 pb-3">
  <div class="container">
    <div class="row" *ngIf="page">
      <div class="col-12">
        <h1>{{page.title}}</h1>
        <div [innerHtml]="page.content"></div>
      </div>
    </div>
  </div>
</div>
