<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline d-flex align-items-center justify-content-center">
          <li class="px-2"><a [routerLink]="['/content/terms-of-use']">Terms Of Use</a></li>
          <li class="px-2"><a [routerLink]="['/content/privacy-policy']">Privacy Policy</a></li>
          <li class="px-2"><a [routerLink]="['/content/support']">Support</a></li>
          <li class="px-2"><a [routerLink]="['/content/faq']">Faq</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>